# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
ENV/

# Robot / test artifacts
reports/
output.xml
log.html
report.html

# Editors
.vscode/
.idea/
*.swp

# Ignore screenshots captured by tests
screenshots/

# Ignore temporary files
edhouse-suite